.modal-fon {
  @media screen and (max-width: 460px) {
    z-index: 1;
    background-image: url('../images/fon/fon-mob.png');
    background-size: 100% 200px;
    background-repeat: no-repeat;
    background-position: top;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/fon/fon-mob@2x.png');
    }
  }

  @media screen and (min-width: 461px) and (max-width: $mobile-max) {
    z-index: 1;
    background-image: url('../images/fon/fon-mob.png');
    background-size: 100% 150px;
    background-repeat: no-repeat;
    background-position: top;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/fon/fon-mob@2x.png');
    }
  }

  @media screen and (min-width: $tablet) {
    z-index: 1;
    background-image: url('../images/fon/fon-des.png');
    background-size: 100% 160px;
    background-repeat: no-repeat;
    background-position: top;

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/fon/fon-des@2x.png');
    }
  }
}
.modal-title {
  padding-top: 45px;
  padding-bottom: 35px;

  font-size: 48px;
  line-height: 1.16;
  text-decoration-line: underline;
}
.modal-list_item {
  font-size: 22px;
  line-height: 1.18;
}
